@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  margin: 0;
  padding: 0;

  font-family: "Krona One", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

.nav h5 {
  font-family: "Roboto Condensed", sans-serif;
}

.in {
  color: #fff;
  /* font-size: 1rem; */
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;

  padding: 1em 1.6em;
}

.up {
  color: #f36;
  /* font-size: 1rem; */
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
